name : ex-var
on:  
  workflow_dispatch:
job:
 runs-on: ubuntu-latest
 env:
 VARIABLE: jaune
 steps:
 - run: echo $VARIABLE
 - run: |
   echo "VARIABLE=vert" >> $GITHUB_ENV
   echo $VARIABLE
 - run: echo $VARIABLE
